* {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-family: 'Open Sans', sans-serif;
}


/* header section */

.header {
    width: 100%;
    height: 100vh;
    background-color: rgba(160, 47, 47, 0.1);
}

.header-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 155px;
}

.header-img {
    height: 500px;
    width: 100%;
}

.header-title {
    font-size: 45px;
}

.paragrap {
    font-size: small;
    margin-top: 18px;
    margin-bottom: 18px;
    color: #928a8a;
}

.btn {
    background-color: #E55473;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    color: white;
}

/* featured section */
.featured-section {
    margin-top: 70px;

    text-align: center;
}

.img-div {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.first-img-div {

    background-color: #dacdd2;
    height: 330px;
    width: 270px;
    padding: 20px;
    border-radius: 250px 250px 0 0;
}

.second-img-div {

    background-color: #c3dddd;
    height: 330px;
    width: 270px;
    padding: 20px;
    border-radius: 250px 250px 0 0;
}

.third-img-div {

    background-color: #d5e0c9;
    height: 330px;
    width: 270px;
    padding: 20px;
    border-radius: 250px 250px 0 0;
}

.featured-img {
    width: 230px;
    height: 300px;
    margin-top: 50px;
}

.img-caption {
    margin-top: 15px;
    text-decoration: underline;
}

/* optional section */
.optional-section {
    display: flex;
    gap: 20px;
    text-align: center;
    width: 70%;
    margin: 70px auto 0;
    padding: 40px 18px;
    justify-content: center;
    border-radius: 5px;
    background-color: #dfd9d9;
}

.optional-img-title {
    color: #928a8a;
    margin-top: 8px;
}

.common-div {}

.optional-img {
    height: 50px;
    width: 50px;
}

/* hot-dial-section */
.hotdial-section {
    margin-top: 70px;
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0dde1;
    padding: 40px 15px;
}

.extra-word {
    color: #E55473;
}
.hot-dial-img{
    width: 65%;
}